:root {
  --basic-font: 'Inter-Variable';
  --pixel-font: 'PressStart2P';
  --slim-font-weight: 410;
  --bold-font-weight: 715;
  --background-color: #FFF;
  --text-color: #000;
  --element-width: clamp(23.188rem, 16.035rem + 30.516vw, 43.5rem);
  
  --difference-text-color: #fff;
  --contour-color: #000;
  --animation-fill-color: #ff0000;
  --label-stroke-color: #fff;
  --gradient: repeating-linear-gradient(
      to right,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(
      to bottom,
      #e7e7e7 0%,
      #e7e7e7 0.01%,
      #1a1a1a 100%
    );
}
